{% extends "blocks/page" %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ul>
            <li><a href="{{ MAIN_SITE }}">Главная</a></li>
            <li><a href="{{ route('restore') }}">Восстановление пароля</a></li>
        </ul>
    </div>
{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('/js/restore.js') }}"></script>
    {#<script>#}
        {#$(function() {#}
            {#$('form').submit(function(e) {#}
                {#e.preventDefault();#}
                {#var email = $('input[name="email"]').val();#}
                {#var username = $('input[name="username"]').val();#}
                {#if (email || username) {#}
                    {#$(this).submit();#}
                {#}#}
                {#else{#}

                {#}#}
            {#});#}
        {#});#}

        {#function showErrorMsg(msg) {#}
            {#$('#msg-error').text(msg);#}
        {#}#}
    {#</script>#}
{% endblock %}


{% block content %}

    <div class="main-wrapper-column" id="restore">
        <restore></restore>
    </div>
{% endblock %}


