.modal-overlay {
  opacity: 0;
  transition: all 0.5s;

  &.show {
    opacity: 1;
  }
}

.test-again-modal {
  max-width: 500px;
}

.test-again-content {
  padding: 25px 10px;
  text-align: justify;
}

.test-again-footer {
  text-align: right;
  padding: 10px 20px;
}